:root {
    --pad-main-h1: 1rem 4rem 1rem 4rem;
    --font-size-h1: 3rem;
    --color-light: #fff6e7;
    --text-color-head: #585b5b;
    --color-par: #757a7b;
    --color-light-blue: #b3c5d3;
    --color-box-backgrounds: #594c46a7;
    --color-box-bg: #c3c5c5;
    --color-font: #594c46;
    --heading-font-family: 'Averia Serif Libre', cursive;
    --font-titles: 'Averia Libre', cursive;
}

* {
    font-size: 100%;
    margin: 0;
    padding: 0;

}

body {
    background-color: var(--color-light);
    font-family: var(--font-titles);
}

header {
    font-family: var(--heading-font-family);
    font-size: 60px;
    color: var(--color-light-brown);
    display: block;
}

.hero-background {
    background-image: url("simple-clouds.png");
    background-size: cover;
    background-repeat: repeat;
    background-position: bottom;
    min-height: 40vh;
    position: relative;
    display: flex;
    justify-content: center;
}

.hero h1 {
    color: var(--color-font);
    margin-top: 3rem;
}

.citySearch {
    display: flex;
    justify-content: center;
    margin: auto;
}

aside {
    display: flex;
    flex-direction: column;
    background-color: var(--color-box-backgrounds);
    margin: 10px 10px 0 10px;
    border-radius: 1rem;
    text-align: center;
    padding: 1rem;
    width: 200px;
}

.searchForm {
    font-size: 15px;

}

.cityName {
    font-family: var(--heading-font-family);
    color: var(--color-font);
}

input {
    color: var(--color-font);
    font-family: var(--heading-font-family);
    background-color: var(--color-light);
    border: none;
    margin: 10px;
    border-radius: 1rem;
    padding: 3px;

}

.btnSearch {
    background-color: var(--color-box-backgrounds);
    color: var(--color-light-blue);
    border: none;
    border-radius: 1rem;
    padding: 10px;
    font-size: 10px;
    font-family: var(--heading-font-family);
    font-size: 1rem;
}

#cityHistory {
    font-size: 20px;
}

.wrapper {
    margin: 3rem 3rem 0 3rem;
    width: 50%;
    background-color: var(--color-box-backgrounds);
    margin: 10px 10px 0 10px;
    border-radius: 1rem;
    display: flex;
    flex-direction: row;
}

.wrapper ul {
    list-style-type: none;
}

.cityBox {
    display: flex;
    flex-direction: column;
    margin: 10px 10px 0 10px;
}

#weatherContainer {
    color: var(--text-color-head);
    box-shadow: #594c46a7;
}

h2 {
    color: var(--color-font);
}

h3 {
    font-size: 2rem;
    text-align: left;
    color: var(--color-font);
}

.weatherListBox {
    background-color: var(--color-box-backgrounds);
    margin: 10px 10px 0 10px;
    border-radius: 1rem;
    padding: 10px;
    color: var(--color-light-blue);
}

.weatherListBox img {
    width: 300px;
}

ul #cityHistoryList {
    display: flex;
    flex-direction: column;
}

ul .forecastListBox {
    font-size: 15px;
    list-style-type: none;
    background-color: var(--color-box-backgrounds);
    margin: 10px 10px 0 10px;
    border-radius: 1rem;
    color: var(--color-light-blue);
    padding: 10px;
}

.forecastListBox {
    margin-top: 2rem;
}

#weatherBox {
    padding: 10px;
    display: grid;
    grid-template-columns: max-content;
}

.city-history {
    background-color: var(--color-box-backgrounds);
    color: var(--color-light-blue);
    border: none;
    padding: 10px;
    margin: 5px;
    cursor: pointer;
    border-radius: 3rem;
    font-family: var(--heading-font-family);
}

.city-history:hover {
    background-color: var(--color-light-blue);
    color: var(--color-font);
}

@media only screen and (max-width: 1150px) {
    .wrapper {
        display: flex;
        flex-direction: column;
    }

    #weatherBox {
        display: block;
        justify-content: center;
    }
}